/* section-board-tfc */
.section-board-tfc {
  position: relative;

  a {
    text-decoration: none;
  }

  .board-header-tfc {
    display: flex;
    margin: 32px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  .box-manage {
    button {
      display: inline-block;
      height: 28px;
      line-height: 30px;
      vertical-align: top;
    }
  }

  .btn-manage {
    padding: 0 10px;
    background-color: #4fa5ee;
    font-size: 14px;
    color: #fff;
  }

  .btn-align {
    width: 28px;
    font-size: 24px;
    color: rgba(0, 0, 0, .4);
  }

  .text-align {
    display: none;
  }

  .box-tool {
    margin-left: auto;

    a {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 10px;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: rgba(0, 0, 0, .4);

      &:hover {
        color: rgba(0, 0, 0, .8);
      }
    }
  }

  .link-board {
    display: block;
    overflow: hidden;
  }

  .thumbnail {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    @include thumbnail-dimmed;
  }

  .title-board {
    display: block;
    background: #fff;
    color: rgba(0, 0, 0, 1)
  }

  .text-board {
    display: block;
    color: rgba(0, 0, 0, .8)
  }

  .item-slide {
    position: relative;
  }

  .box-meta {
    color: rgba(0, 0, 0, .4);

    button {
      outline: none;
    }

    button:hover {
      color: rgba(0, 0, 0, .4);
    }

  }

  .item-meta {
    position: relative;
    display: inline-block;
    margin-right: 4px;
    padding-right: 4px;
    line-height: 22px;
  }

  .item-meta:before {
    content: '·';
    position: absolute;
    top: 1px;
    bottom: 0;
    right: -4px;
  }

  .item-meta:last-child:before {
    content: '';
  }

  .select {
    display: inline-block;
    margin: 1px 0 0 0;
  }

  .count, .reply-count {
    position: relative;
    margin-right: 8px;
    padding-left: 10px;
  }

  .date .xi-time {
    font-size: 12px;
  }

  .xe-label {
    width: 20px;
    margin: 0;
    line-height: 18px;
  }

  .xe-label>input[type="checkbox"]+.xe-input-helper {
    width: 16px;
    height: 16px;
  }

  .xe-label>input[type="checkbox"]+.xe-input-helper:after {
    width: 6px;
    height: 9px;
    margin-top: -6px;
    margin-left: -3px;
  }
}

@include pc {
  .section-board-tfc {
    .btn-manage {
      &:hover {
        background: #777;
      }
    }

    .btn-align {
      width: auto;
      padding: 0 16px;
      border: 1px solid rgba(0, 0, 0, .2);
      font-size: 14px;

      .icon_sort {
        display: none;
      }

      &:hover {
        border: 1px solid rgba(0, 0, 0, .8);
        color: rgba(0, 0, 0, .8);
      }
    }

    .link-board:hover, .link-slide:hover {
      .thumbnail {
        transform: scale(1.05);
        &:after {
          opacity: 0.3;
        }
      }

      .text-board {
        color: rgba(0, 0, 0, .5)
      }
    }

    .text-align {
      display: block;
    }

    .box-meta {
      font-size: 14px;
    }

    .item-meta {
      margin-right: 8px;
      padding-right: 8px;
    }

    .item-meta:before {
      top: 1px;
    }
  }
}



/* board-notice-tfc */
.board-notice-tfc {
  margin-bottom: 64px;

  .title-notice {
    margin: 32px 0;
    @include ellipsis(76px, 28px, 600, 36px, 2);
  }

  .area-slide {
    position: relative;
  }

  .link-slide {
    display: block;
    overflow: hidden;
  }

  .box-meta {
    display: flex;
    flex-wrap: wrap;
  }

  .thumbnail {
    padding-top: 56.3%;
  }

  .title-board {
    height: 64px;
    margin: 16px 0 8px 0;
    @include ellipsis(64px, 24px, 600, 32px, 2);
  }

  .text-board {
    margin: 8px 0 16px 0;
    @include ellipsis(38px, 14px, 400, 20px, 2);
  }

  /* slick */
  .area-paging {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
  }

  .area-paging,
  .area-paging li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .area-paging li {
    display: inline-block;
  }

  .area-paging button {
    overflow: hidden;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    padding: 0;
    border: 0 none;
    border-radius: 10px;
    color: transparent;
    background: rgba(0, 0, 0, .2);
    outline: 0;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
  }

  .area-paging .slick-active button {
    background: #4fa5ee;
  }
}
/* // board-notice-tfc */

/* media query - board-notice-tfc */
@include pc {
  .board-notice-tfc {

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    .thumbnail {
      float: left;
      width: 50%;
      height: 338px;
      padding-top: 0;
    }

    .box-board {
      position: relative;
      width: calc(50% - 64px);
      height: 338px;
      padding-left: 64px;
      background: #fff;
      overflow: hidden;
    }

    .title-board {
      max-height: 84px;
      height: auto;
      margin: 74px 0 32px 0;
      font-size: 34px;
      line-height: 42px;
    }

    .text-board {
      max-height: 70px;
      margin-bottom: 56px;
      font-size: 16px;
      line-height: 24px;
      -webkit-line-clamp: 3;
    }

    .box-meta {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      right: 0;
      bottom: -5px;
      width: calc(50% - 64px);
    }

    .area-paging {
      position: absolute;
      width: calc(50% - 64px);
      top: 0;
      left: auto;
      right: 0;
      bottom: auto;
      z-index: 10;
      text-align: left;
    }
  }
}



/* type-gallery-tfc */
.type-gallery-tfc {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px 32px -8px;
  overflow: hidden;

  .item-board {
    width: calc(100%/2 - 16px);
    margin: 0 8px 32px 8px;
    overflow: hidden;
  }

  .thumbnail {
    padding-top: 58.5%;
  }

  .box-board {
    position: relative;
    padding-top: 16px;
    background: #fff;
  }

  .box-meta {
    position: relative;
    width: 100%;
    margin-top: 16px;
  }

  .title-board {
    height: 36px;
    margin-bottom: 8px;
    @include ellipsis(38px, 14px, 600, 20px, 2);
  }

  .text-board {
    display: none;
  }
}

/* media query - type-gallery-tfc */
@include pc {
  .type-gallery-tfc {
    margin: 0 -16px 0 -16px;

    .item-board {
      width: calc(33.3% - 32px);
      margin: 0 16px 32px 16px;
    }

    .title-board {
      height: 44px;
      max-height: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}



/* type-thumbnail-tfc */
.type-thumbnail-tfc {
  .item-board {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .thumbnail {
    float: left;
    width: 104px;
    height: 104px;
    margin-right: 24px;
  }

  .box-board {
    font-size: 13px;
    overflow: hidden;
  }

  .link-board {
    display: initial;
  }

  .title-board {
    display: block;
    @include ellipsis-1line(24px, 32px);
  }

  .text-board {
    margin: 8px 0;
    @include ellipsis(38px, 14px, 500, 20px, 2);
  }

  .box-meta {
    float: right;
    width: calc(100% - 128px);
  }
}

/* media query - type-thumbnail-tfc */
@include pc {
  .type-thumbnail-tfc {
    .item-board {

      &:last-child {
        border-bottom: none;
      }
    }

    .thumbnail {
      width: 310px;
      height: 175px;
      margin-right: 64px;
    }

    .title-board {
      margin-top: 8px;
      font-size: 34px;
      font-weight: 400;
      line-height: 42px;
      text-overflow: unset;
      white-space: unset;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .text-board {
      max-height: 67px;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 24px;
      -webkit-line-clamp: 3;
    }

    .box-meta {
      width: calc(100% - 374px);
    }
  }
}



/* type-text-tfc */
.type-text-tfc {
  .item-board {
    margin-bottom: 32px;
  }

  .thumbnail {
    display: none;
  }

  .box-board {
    font-size: 13px;
  }

  .title-board {
    display: block;
    @include ellipsis-1line(24px, 32px);
  }

  .text-board {
    margin: 8px 0;
    @include ellipsis(38px, 14px, 500, 20px, 2);
  }
}

/* media query - type-text-tfc */
@include pc {
  .type-text-tfc {
    .item-board {
      margin-bottom: 0;
      padding: 32px 0;
      border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    .title-board {
      font-size: 34px;
      font-weight: 400;
      line-height: 42px;
      text-overflow: unset;
      white-space: unset;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .text-board {
      max-height: 67px;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 24px;
      -webkit-line-clamp: 3;
    }
  }
}



/* board-paging-tfc */
.board-paging-tfc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  padding-top: 32px;

  a {
    display: block;
    font-size: 16px;
    color: rgba(0, 0, 0, .8);
  }

  .link-arr {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, .2);
    line-height: 33px;
    text-align: center;
  }

  .box-paging {
    display: flex;
    align-items: center
  }

  .box-paging a {
    margin: 0 4px;
  }

  .active {
    font-weight: 600;
    color: #4fa5ee;
  }

  .box-paging a:not(.active) {
    display: none
  }

  .box-paging a:last-child {
    position: relative;
    display: block;
    padding-left: 10px;
    color: #000;
  }

  .box-paging a:last-child:before {
    content: '/';
    position: absolute;
    top: 0;
    left: 0px;
    width: 10px;
    height: 29px;
  }

  .link-nomore {
    opacity: .2;
  }
}

/* media query - board-paging-tfc */
@include pc {
  .board-paging-tfc {
    padding: 72px 0 64px 0;
    justify-content: center;

    .link-arr {
      border: none;

      &:hover {
        color: #4fa5ee;
      }
    }

    .link-prev {
      margin-right: 40px;
    }

    .link-next {
      margin-left: 40px;
    }

    .dot {
      border: none!important;
      line-height: 23px!important;
    }

    .box-paging a {
      min-width: 32px;
      height: 32px;
      padding: 0 10px;
      border: 1px solid rgba(0, 0, 0, .2);
      line-height: 32px;
      text-align: center;

      &:hover {
        border: 1px solid rgba(0, 0, 0, .7);
      }
    }

    .active {
      border: 1px solid #4fa5ee!important;
    }

    .box-paging a:not(.active) {
      display: block;
    }

    .box-paging a:last-child:before {
      content: '';
    }
  }
}



/* board-view-tfc */
.board-view-tfc {
  max-width: 1232px;
  margin: 0 auto 64px auto;
  padding: 0 16px;


  .board-header {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-align: center;
  }

  .title-view {
    margin: 32px 0 16px 0;
    font-size: 24px;
    line-height: 32px;
  }

  .category {
    display: inline-block;
    min-height: 23px;
    margin-bottom: 16px;
    padding: 8px 16px;
    background: #4fa5ee;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
  }

  .title {
    display: block;
  }

  .board-editor {
    margin-bottom: 32px;
  }

  .board-tag {
    margin-bottom: 32px;
  }

  .link-tag {
    display: inline-block;
    max-width: 100%;
    height: 30px;
    margin: 0 8px 8px 0;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
    @include ellipsis-1line(12px, 30px);

    &:hover {
      border: 1px solid rgba(0, 0, 0, .5);
      color: rgba(0, 0, 0, .7);
    }
  }

  .box-file {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 15px;
  }

  .item-file {
    margin-bottom: 5px;
  }

  .link-file {
    display: block;
    height: 30px;
    padding: 0 10px;
    background: rgba(0, 0, 0, .2);
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;

    .xi-download {
      font-size: 19px;
      vertical-align: -4px;
    }
  }

  .board-function {
    display: flex;
    flex-wrap: wrap;
  }

  .board-function div {
    width: 50%;
  }

  .board-function div:nth-child(2) {
    text-align: right;
  }

  .board-function div:nth-child(3) {
    width: 100%;
  }

  .board-footer {
    margin-bottom: 32px;

    button {
      outline: none;
    }
  }

  .btn-like, .btn-scrap {
    font-size: 20px;
  }

  .btn-like, .btn-scrap, .btn-share, .link-list, .btn-add {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
    color: rgba(0, 0, 0, .4);
  }

  .btn-like {
    &:hover {
      color: #fe6462;
    }
  }

  .btn-like.active {
    color: #fe6462;
  }

  .btn-scrap {
    &:hover {
      color: #f5a623;
    }
  }

  .btn-scrap.active {
    color: #f5a623;
  }

  .btn-share {
    font-size: 18px;

    &:hover {
      color: rgba(0, 0, 0, .8)
    }
  }

  .link-list {
    display: inline-block;
    font-size: 20px;

    &:hover {
      color: rgba(0, 0, 0, .8)
    }
  }

  .btn-add {
    font-size: 19px;
    line-height: 23px;

    &:hover {
      color: rgba(0, 0, 0, .8)
    }
  }

  .area-like {
    margin-top: 16px;
  }

  .link-profile {
    font-size: 15px;
    color: rgba(0, 0, 0, .5);

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }

  .thumbnail {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 2px solid #fff;
    border-radius: 30px;
    vertical-align: -8px;
  }

  .thumbnail:nth-child(n+2) {
    margin-left: -16px;
  }
}

/* media query - board-paging-tfc */
@include pc {
  .board-view-tfc {

    .board-header {
      margin-bottom: 64px;
      padding-bottom: 102px;
    }

    .title-view {
      margin: 104px 0 32px 0;
    }

    .title {
      font-size: 32px;
      line-height: 42px;
    }

    .board-editor {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    .board-footer {
      max-width: 800px;
      margin: 0 auto 64px auto;
    }

    .link-tag {
      font-size: 16px;
    }
  }
}

