/* thema */
/* theme_pink */
/* juna */
.theme_pink .thema_apply .btn_detail {
  background: #ff567a;
}

.theme_pink .thema_apply .btn_arrow:hover {
  background: #ff567a;
  color: #fff;
}

.theme_pink .thema_apply .active {
  background: #ff567a;
}

.theme_pink .thema_apply .slick-active button {
  background: #ff567a;
}

.theme_pink .thema_apply .link_tool {
  color: #ff567a;
}

.theme_pink .thema_apply .btn_register {
  background: #ff567a;
  color: #fff;
}

.theme_pink .thema_apply .btn_register {
  background: #ff567a;
  color: #fff;
}

.theme_pink .thema_apply .title_sidebar {
  color: #ff567a;
}

.theme_pink .thema_apply .box_tag a:hover {
  border: 1px solid #ff567a;
  color: #ff567a;
}

.theme_pink .box_reply_content .user a {
  color: #ff567a;
}

/* juna */
.theme_pink .area_category .title_section span {
  color: #ff567a;
}

/* theme_blue */
.theme_blue .thema_apply .btn_detail {
  background: #4167d9;
}

.theme_blue .thema_apply .btn_arrow:hover {
  background: #4167d9;
  color: #fff;
}

.theme_blue .thema_apply .active {
  background: #4167d9;
}

.theme_blue .thema_apply .slick-active button {
  background: #4167d9;
}

.theme_blue .thema_apply .link_tool {
  color: #4167d9;
}

.theme_blue .thema_apply .btn_register {
  background: #4167d9;
  color: #fff;
}

.theme_blue .thema_apply .btn_register {
  background: #4167d9;
  color: #fff;
}

.theme_blue .thema_apply .title_sidebar {
  color: #4167d9;
}

.theme_blue .thema_apply .box_tag a:hover {
  border: 1px solid #4167d9;
  color: #4167d9;
}

.theme_blue .area_category .title_section span {
  color: #4167d9;
}

.theme_blue .box_reply_content .user a {
  color: #4167d9;
}

/* theme_green */
.theme_green .thema_apply .btn_detail {
  background: #11998e;
}

.theme_green .thema_apply .btn_arrow:hover {
  background: #11998e;
  color: #fff;
}

.theme_green .thema_apply .active {
  background: #11998e;
}

.theme_green .thema_apply .slick-active button {
  background: #11998e;
}

.theme_green .thema_apply .link_tool {
  color: #11998e;
}

.theme_green .thema_apply .btn_register {
  background: #11998e;
  color: #fff;
}

.theme_green .thema_apply .btn_register {
  background: #11998e;
  color: #fff;
}

.theme_green .thema_apply .title_sidebar {
  color: #11998e;
}

.theme_green .thema_apply .box_tag a:hover {
  border: 1px solid #11998e;
  color: #11998e;
}

.theme_green .area_category .title_section span {
  color: #11998e;
}

.theme_green .box_reply_content .user a {
  color: #11998e;
}

/* theme_gray */
.theme_gray .thema_apply .btn_detail {
  background: #1d2129;
}

.theme_gray .thema_apply .btn_arrow:hover {
  background: #1d2129;
  color: #fff;
}

.theme_gray .thema_apply .active {
  background: #1d2129;
}

.theme_gray .thema_apply .slick-active button {
  background: #1d2129;
}

.theme_gray .thema_apply .link_tool {
  color: #1d2129;
}

.theme_gray .thema_apply .btn_register {
  background: #1d2129;
  color: #fff;
}

.theme_gray .thema_apply .btn_register {
  background: #1d2129;
  color: #fff;
}

.theme_gray .thema_apply .title_sidebar {
  color: #1d2129;
}

.theme_gray .thema_apply .box_tag a:hover {
  border: 1px solid #1d2129;
  color: #1d2129;
}

.theme_gray .area_category .title_section span {
  color: #1d2129;
}

.theme_gray .box_reply_content .user a {
  color: #11998e;
}
