/* header */
.header-tfc {
  position: fixed;
  top: 0;
  // left: 0;
  // z-index: 2005;
  z-index: 180;
  width: 100%;
  height: 56px;
  background-color: #FFF;

  button {
    position: absolute;
    width: 56px;
    height: 56px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 24px;
    color: rgba(0, 0, 0, .4);
    overflow: visible;
    cursor: pointer;
    outline: none;
  }

  button:hover {
    color: rgba(0, 0, 0, 1);
    transition: .3s ease-in-out;
  }

  .btn-menu {
    left: 0;
    line-height: 59px;
  }

  .user-menu-dropdown {
    &:hover .user-menu {
      display: block;
    }
  }

  .btn-login {
    width: auto;
    right: 0;
    padding-right: 20px;
    line-height: 57px;
    color: rgba(0, 0, 0, .6);
  }

  .text_login {
    display: none;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: 5px;
  }

  .user-menu {
    display: none;
    position: absolute;
    top: 56px;
    right: 0;
    margin: 0;
    padding: 29px 32px;
    max-width: 230px;
    background-color: #f1f1f1;

    li {
      list-style: none;
      font-size: 14px;
      font-weight: bold;
      padding: 6px 0;

      a {
        color: #000000;
        text-decoration: none;
        transition: color 0.05s ease-in-out;
        &:hover {
          color: #999;
        }
      }
    }
  }

  .logo {
    position: absolute;
    display: flex;
    align-items: center;

    left: 56px;
    height: 56px;
    margin: 0;
    font-size: 20px;
  }

  .link-logo {
    max-width: 200px;
    height: 48px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    @include ellipsis-1line(24px, 50px);
  }

  .link-logo + .text {
    display: inline-block;
  }

  .link-logo + .image {
    display: flex;
    align-items: center;
  }

  .link-logo img {
    max-height: 48px;
  }

  .greet {
    display: none;
  }
}

.header-sub-tfc {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2)
}

@include pc-wide {
  .header-tfc {

    .greet {
      display: inline-block;
      margin-left: 24px;
      padding-top: 3px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, .6);
    }
  }
}

@include pc {
  .header-tfc {
    .link-logo {
      max-width: 260px;
      font-size: 22px;
    }

    .text_login {
      display: inline-block!important;
    }
  }
}
