#wrap {
  position: relative;
  overflow: hidden;
}

.wrap-main {
  .header-main-tfc {
    transition: box-shadow 0.7s;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  }
  .main-tfc {
  }
}

.wrap-main-header {
  .parallax-overlay {
    display: block;
  }
  .main-tfc {
    margin-top: 398px;
  }
}

@include pc {
  .wrap-main {
    .main-tfc {
    }
  }
  .wrap-main-header {
    .main-tfc {
      margin-top: 566px;
    }
  }
}
/* container */
#container {
  position: relative;
  width: 100%;
  padding-top: 56px;
  left: 0;
  transition: left 0.3s ease-in-out;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
